@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root{
    --main-color:#deab5f;
    --primary-color:#312e2e;
}

button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #000000;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 8rem;
}

.logo1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    font-family:   "Yellowtail", sans-serif ;
    font-size: 1.3rem;
    font-weight: 700;
}
.logo1 img{
    width: 70px;
}


li{
    display: inline;
    list-style:none;
}

li a{
    margin-left: 40px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 4px;

}

li a:hover{
    border-bottom: 2px solid #f00;
}


.header{
    background: url(https://img.freepik.com/premium-photo/small-cup-black-coffee-dark-background-with-coffee-beans_155165-7704.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Playfair Display',serif;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    text-align: center;
}

.main-heading{
    position: absolute;
    top: 7rem;
    left: 8%;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;   
}

.primary-heading{
    position: absolute;
    top: 15rem;
    left: 14%;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}

.main-btn{
    position: absolute;
    padding: 10px 30px;
    /* background: transparent; */
    background:var(--main-color) ;
    transform: translateY(20px);
    border-radius: 2px;
    box-shadow: 2px 2px 5px var(--main-color);
    font-size: 14px;
    font-weight: 500;
}

.main-btn:hover{
    transform: scale(1.1);
    transition: 0.8s;
    
}

#our-story{
    height: 100vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.img{
    width: 400px;
    height: 400px;
    background: url(imegs/ai-generated-hot-black-coffee-isolated-on-transparent-background-free-png.webp);
    transform: rotate(120deg);
    /* background: transparent; */
    background-position: center;
    background-size: cover;
}

.title-style{
    display: flex; 
    align-items: center;
}

.title{
    font-family: 'Playfair Display',serif;
    font-size: 4rem;
     color: white;
     transform: translateX(-100px);

}

.line{
    width: 100px;
    height: 2px;
    background: #fff;
    transform: translateX(-120px);
}

.section-content p{
    max-width: 500px;
    color: #fff;
    font-family: sans-serif;
    line-height: 20px;
    margin: 20px 0;

}

/* coffee start */

.coffee-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}



.img-2{
    width: 600px;
    height: 600px;
}

.title-two{
    font-size: 3rem;
    color: #fff;
    font-family: 'Playfair Display',serif;
}

.content-section p{
    max-width: 500px;
    margin-top: 20px;
    color: #fff;
    font-family: sans-serif;

}

/* Products session */

.title-three{
    font-size: 4rem;
    margin-left: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card{
    /* border: 2px solid #fff; */
    padding: 0 20px;
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    position: relative;
    margin-bottom: 4rem;
    color: #000;
    background: linear-gradient(to top,#aa6f0285,rgba(255, 255, 255, 0.515));
}

.card-img{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -30px;
}

.img-one{
    border-radius: 50%;
    background: url(https://wallpapers.com/images/hd/coffee-pictures-svo1def239v68jz6.jpg);
    background-position: right;
    background-size: cover;
    
}

.img-two{
    border-radius: 50%;
    background: url(https://media.istockphoto.com/id/1552871673/photo/black-coffee-in-a-white-glass-placed-on-an-old-cement-table-with-coffee-beans.jpg?b=1&s=170667a&w=0&k=20&c=BxIvKV9YJtRfPf398mSJg1_2_n0IRdRxp2P5Q07l_GI=);
    background-position: center;
    background-size: cover;
    
}

.img-three{
    border-radius: 50%;
    background: url(https://wallpapers.com/images/hd/coffee-pictures-svo1def239v68jz6.jpg);
    background-position: right;
    background-size: cover;
    
}

.card-title{
    color: #000;
    font-family: serif;
    font-size: 1.5rem;
    position: relative;
    top: 8rem;
    margin:20px 0;
}

.card .items{
    display: block;
    margin-left: 0;
    padding-top: 10px;
    margin-top: 40px;
}

.card .items p{
    margin: 10px 0;
    font-size: 1.2rem;
    
}